# .gitignore 
# This file is used to ignore files and directories in a Git repository.


# Where Binaries live
.bin

# Whenre binary dependencies live.
.dep

# Remote taskfiles store
.task

terraform
