# .gitignore 
# This file is used to ignore files and directories in a Git repository.

# AI likes to make a binary :)
infra*


# we log to the root to help with debugging
*.log

# Where Binaries live
.bin

# Where are data is stored like databases, etc.
.data

# Test data directories (isolated test artifacts)
.data-test

# Whenre binary dependencies live.
.dep

# Where ko builds OCI images
.oci

# Where MCP playwright store stuff
.playwright-mcp

# Remote taskfiles store
.task


# our terraform files
terraform

# Our docker files
docker

# Node.js dependencies
node_modules/
package-lock.json

