# .gitignore 
# This file is used to ignore files and directories in a Git repository.

# AI likes to make a binary :)
infra

# Where Binaries live
.bin

# Where are data is stored like databases, etc.
.data

# Whenre binary dependencies live.
.dep

# Remote taskfiles store
.task

terraform
