<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Title}} - Infrastructure Management</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/gh/starfederation/datastar@main/bundles/datastar.js"></script>
    {{if .ExtraHead}}{{.ExtraHead}}{{end}}
</head>
<body class="bg-white dark:bg-gray-900 text-lg max-w-4xl mx-auto my-8">
    {{.Navigation}}
    
    <div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-white rounded-lg px-6 py-8 ring shadow-xl ring-gray-900/5">
        {{.Content}}
    </div>
    
    {{.Footer}}
</body>
</html>